<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" formControlName="username">
            <span *ngIf="username.touched && username.invalid" class="custom-error alert alert-danger">
              <span *ngIf="username.errors.required">Please enter user name</span>
            </span>
          </div>
          <div class="form-group">
            <label>Firstname</label>
            <input class="form-control" type="text" formControlName="firstname">
            <span *ngIf="firstname.touched && firstname.invalid" class="custom-error alert alert-danger">
              <span *ngIf="firstname.errors.required">Please enter first name</span>
            </span>
          </div>
          <div class="form-group">
            <label>Lastname</label>
            <input class="form-control" type="text" formControlName="lastname">
            <span *ngIf="lastname.touched && lastname.invalid" class="custom-error alert alert-danger">
              <span *ngIf="lastname.errors.required">Please enter last name</span>
            </span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" formControlName="password">
            <span *ngIf="password.touched && password.invalid" class="custom-error alert alert-danger">
              <span *ngIf="password.errors.required">Please enter Password</span>
              <span *ngIf="password.errors.minlength">password must be more than 5 character</span>
            </span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Register </button>
            <a class="btn btn-link" routerLink='/auth/login'>Cancel</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
