<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2>Change Password</h2>
        <br>
        <form [formGroup]="changePassForm" (ngSubmit)="changePass()">

          <div class="form-group">
            <label>Old Password</label>
            <input class="form-control" type="password" formControlName="oldPassword">
            <span *ngIf="oldPassword.touched && oldPassword.invalid" class="custom-error alert alert-danger">
              <span *ngIf="oldPassword.errors.required">Please enter old Password</span>
              <span *ngIf="oldPassword.errors.minlength">password must be more than 5 character</span>
            </span>
          </div>
          <div class="form-group">
            <label>New Password</label>
            <input class="form-control" type="password" formControlName="newPassword">
            <span *ngIf="newPassword.touched && newPassword.invalid" class="custom-error alert alert-danger">
              <span *ngIf="newPassword.errors.required">Please enter new Password</span>
              <span *ngIf="newPassword.errors.minlength">password must be more than 5 character</span>
            </span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-primary" style="margin-left: 10px;" type="button"
              (click)="cancelEditing()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
