/* You can add global styles to this file, and also import other style files */
.custom-error {
  color: #af3e3e;
  background-color: rgba(230, 82, 81, 0.2);
  border-color: #d44b4b;
  display: block;
  margin-top: 0px;
}
